.title-box {
  text-align: center;
}

h1{
  color: rgb(3, 78, 198);
}


body{
  background:url('pat.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position: center;
  font-family:'Comic Sans MS',sans-serif;
  color:white;
}



img{
width:75%;
border: 5px dotted blue;
}


.meme-info {
  text-align: center;
  font-family: sans-serif;
}

.price-table {
  width: 20%;
  margin: auto;
  border: 2px solid black;
}

th, td {
  border: 2px solid black;
}

.audio-memes {
text-align: center;
}

.undert {
  color: rgb(146, 160, 51);
}

.jumbotron {
 background-color: rgb(209, 16, 16);
}
.meme-info{
  text-align: center;
  font-family: 'Comic Sans MS'
}
