body {
  background:url('agua.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  }

p {
  font-size: 2em;
  font-weight: 400;
}

  h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size:100px
  }

.bottle {
  text-align: center;

}

.bottle img {
  width:50%;
}
.jumbotron{
  background color: rgb(17, 206, 216);
}

.purity-chart{
  background-color: rgba(255,255,255,.75);
  width: 50%;
  margin: 2% auto;
  text-align: center;
}

th, td {
  padding: 1%;
}

.tv-info h3 {
  font-size:120px;
  text-align:center;
}

.tv-info {
  background-color: rgba(255,255,255,.75);
  text-align: center;
}
