body {
  background:url('agua.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  }

  h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size:100px
  }

.bottle {
  text-align: center;

}

.bottle img {
  width:50%;
}
